@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegura que el box-sizing no rompa el layout */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}
